//Variables used in this project

//Colors
$white: #ffffff;
$black: #000000;
$sable:#060606;
$charcoal:#2e1503;
$tangerine:#ffaf6d;
$orange:#ffa500;
$grey:#808080;
$dark-gray:#505050;
$purple:#632894;


// font families
$ubuntu: 'Ubuntu',
sans-serif;
$poppins: 'Poppins',
sans-serif;

// font sizes
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;


// font weights
$font-regular: 400;
$font-bold:700;


// Breakpoints

$phone:578px;
$tablet:768px;
$desktop:992px;
$large-desktop:1200px;